/*--------------------------------------------------------------
 font
--------------------------------------------------------------*/
@font-face {
    font-family: 'SCDream1';
    src: url('../fonts/SCDream1.otf') format('opentype');
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: 'SCDream2';
    src: url('../fonts/SCDream2.otf') format('opentype');
    font-weight: 200;
    font-style: normal;
}
@font-face {
    font-family: 'SCDream3';
    src: url('../fonts/SCDream3.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'SCDream4';
    src: url('../fonts/SCDream4.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'SCDream5';
    src: url('../fonts/SCDream5.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'SCDream6';
    src: url('../fonts/SCDream6.otf') format('opentype');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'SCDream7';
    src: url('../fonts/SCDream7.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'SCDream8';
    src: url('../fonts/SCDream8.otf') format('opentype');
    font-weight: 800;
    font-style: normal;
}
@font-face {
    font-family: 'SCDream9';
    src: url('../fonts/SCDream9.otf') format('opentype');
    font-weight: 900;
    font-style: normal;
}

/*--------------------------------------------------------------
 common
--------------------------------------------------------------*/

* {
    font-family: 'SCDream4' !important;
}

:root {
    --default-font: "SCDream4" !important;
    --heading-font: "SCDream5" !important;
    --nav-font: "SCDream4" !important;
}

:root {
    --background-color: #ffffff;
    --default-color: #212529;
    --heading-color: #2d465e;
    --accent-color: #06A786;    
    --surface-color: #ffffff;
    --contrast-color: #ffffff;
}
:root {
    --nav-color: #212529;
    --nav-hover-color: #06A786;
    --nav-mobile-background-color: #ffffff;
    --nav-dropdown-background-color: #ffffff;
    --nav-dropdown-color: #212529;
    --nav-dropdown-hover-color: #06A786;
}

.container,
.container-fluid {
    width: 1280px;
}

.light-background {
    --background-color: #f3f4f4;
    --surface-color: #ffffff;
}

.dark-background {
    --background-color: #060606;
    --default-color: #ffffff;
    --heading-color: #ffffff;
    --surface-color: #252525;
    --contrast-color: #ffffff;
}

:root {
    scroll-behavior: smooth;
}

.pt_color {
    color: #06A786;
}

body {
    font-weight: 300 !important;
    font-family: 'SCDream4' !important;
    font-size: 18px !important;
    color: var(--default-color) !important;
    background-color: var(--background-color) !important;
    overflow-x: hidden !important;
}

a {
    color: var(--accent-color);
    text-decoration: none !important;
    transition: 0.3s !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--heading-color) !important;
    font-family: var(--heading-font) !important;    
    line-height: 1.4 !important;
}

ul {
	padding-left: 0 !important;
}

ul li {
  list-style: none !important;
}



/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
.header {
    color: var(--default-color);
    background-color: var(--background-color);
    border-bottom: 2px solid #06A786;
    transition: all 0.5s;
    z-index: 997;
}
.header .logo {
    line-height: 1;
}
.header .logo img {
    max-height: 32px;
    margin-right: 8px;
}
.header .logo h1 {
    font-size: 30px;
    margin: 0;
    font-weight: 300;
    color: var(--heading-color);    
}
.header h1 {
	padding: 10px 0;
}
.login_txt {
    font-size: 18px;
    color:#06a786;
    margin-right: 10px;
    margin-left: 10px;
    text-decoration: underline;
}
.nav_btn {
    background-color: var(--accent-color);
    color: #fff !important;
    border-radius: 30px;
    display: inline-block;
    border: 2px solid transparent;
    transition: 0.3s all ease-in-out;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    margin: 0 5px;
    padding: 8px 15px;
}
.nav_btn:hover {
    border: 2px solid #06A786;
    color: #06A786 !important; 
    background: none;
}
.nav_icon {
    font-size: 22px;
    color: #06a786;
    margin: 0 5px;
    /* border-radius: 50%;
    border: 1px solid #06a786;
    width: 45px;
    height: 45px;*/
    display: inline-block;
    text-align: center;
}
.nav_icon.fs_18 {
    font-size: 18px;
    line-height: 35px;
}

.scrolled .header {
    box-shadow: 0px 0 18px rgba(0, 0, 0, 0.1);
}

.bi-person::before {
	vertical-align: -5px;
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/



/*--------------------------------------------------------------
윤신이 때문이야!!
--------------------------------------------------------------*/
.navmenu-li-none {
    display: none;
}

/* Navmenu - Desktop */
@media (min-width: 1200px) {
	
    .navmenu {
        padding: 0;
    }

    .navmenu ul {
        margin: 0;
        padding: 0;
        display: flex;
        list-style: none;
        align-items: center;
    }

    .navmenu li {
        position: relative;
    }

    .navmenu a,
    .navmenu a:focus {
        color: var(--nav-color);
        padding: 18px 30px;
        font-size: 18px;
        font-family: var(--nav-font);
        font-weight: 400;
        display: flex;
        align-items: center;
        justify-content: space-between;
        white-space: nowrap;
        transition: 0.3s;
    }

    .navmenu a i,
    .navmenu a:focus i {
        font-size: 12px;
        line-height: 0;
        margin-left: 5px;
        transition: 0.3s;
    }

    .navmenu li:last-child a {
        padding-right: 0;
    }

    .navmenu li:hover > a,
    .navmenu .active,
    .navmenu .active:focus {
        color: var(--nav-hover-color);
    }

    .navmenu .dropdown ul {
        margin: 0;
        padding: 10px 0;
        background: var(--nav-dropdown-background-color);
        display: block;
        position: absolute;
        visibility: hidden;
        left: 14px;
        top: 130%;
        opacity: 0;
        transition: 0.3s;
        border-radius: 4px;
        z-index: 99;
        box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
    }

    .navmenu .dropdown ul li {
        min-width: 200px;
    }

    .navmenu .dropdown ul a {
        padding: 10px 20px;
        font-size: 15px;
        text-transform: none;
        color: var(--nav-dropdown-color);
    }

    .navmenu .dropdown ul a i {
        font-size: 12px;
    }

    .navmenu .dropdown ul a:hover,
    .navmenu .dropdown ul .active:hover,
    .navmenu .dropdown ul li:hover > a {
        color: var(--nav-dropdown-hover-color);
    }

    .navmenu .dropdown:hover > ul {
        opacity: 1;
        top: 100%;
        visibility: visible;
    }

    .navmenu .dropdown .dropdown ul {
        top: 0;
        left: -90%;
        visibility: hidden;
    }

    .navmenu .dropdown .dropdown:hover > ul {
        opacity: 1;
        top: 0;
        left: -100%;
        visibility: visible;
    }
}

/* Navmenu - Mobile */
@media (max-width: 1199px) {
	header div div {
		display: none;
	}
	
    .mobile-nav-toggle {
        color: var(--nav-color);
        font-size: 28px;
        line-height: 0;
        margin-right: 10px;
        cursor: pointer;
        transition: color 0.3s;
    }

    .navmenu {
        padding: 0;
        z-index: 9997;
    }

    .navmenu ul {
        display: none;
        list-style: none;
        position: absolute;
        inset: 60px 20px 20px 20px;
        padding: 10px 0;
        margin: 0;
        border-radius: 6px;
        background-color: var(--nav-mobile-background-color);
        overflow-y: auto;
        transition: 0.3s;
        z-index: 9998;
        box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
    }

    .navmenu a,
    .navmenu a:focus {
        color: var(--nav-color);
        padding: 10px 20px;
        font-family: var(--nav-font);
        font-size: 17px;
        font-weight: 500;
        display: flex;
        align-items: center;
        justify-content: space-between;
        white-space: nowrap;
        transition: 0.3s;
    }

    .navmenu a i,
    .navmenu a:focus i {
        font-size: 12px;
        line-height: 0;
        margin-left: 5px;
        width: 30px;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        transition: 0.3s;
        background-color: color-mix(in srgb, var(--accent-color), transparent 90%);
    }

    .navmenu a i:hover,
    .navmenu a:focus i:hover {
        background-color: var(--accent-color);
        color: var(--contrast-color);
    }

    .navmenu a:hover,
    .navmenu .active,
    .navmenu .active:focus {
        color: var(--nav-hover-color);
    }

    .navmenu .active i,
    .navmenu .active:focus i {
        background-color: var(--accent-color);
        color: var(--contrast-color);
        transform: rotate(180deg);
    }

    .navmenu .dropdown ul {
        position: static;
        display: none;
        z-index: 99;
        padding: 10px 0;
        margin: 10px 20px;
        background-color: var(--nav-dropdown-background-color);
        border: 1px solid color-mix(in srgb, var(--default-color), transparent 90%);
        box-shadow: none;
        transition: all 0.5s ease-in-out;
    }

    .navmenu .dropdown ul ul {
        background-color: rgba(33, 37, 41, 0.1);
    }

    .navmenu .dropdown ul a {
        color: var(--nav-dropdown-color);
    }

    .navmenu .dropdown ul a:hover,
    .navmenu .dropdown ul .active:hover,
    .navmenu .dropdown ul li:hover > a {
        color: var(--nav-dropdown-hover-color);
    }

    .navmenu .dropdown > .dropdown-active {
        display: block;
        background-color: rgba(33, 37, 41, 0.03);
    }

    .mobile-nav-active {
        overflow: hidden;
    }

    .mobile-nav-active .mobile-nav-toggle {
        color: #fff;
        position: absolute;
        font-size: 32px;
        top: 15px;
        right: 15px;
        margin-right: 0;
        z-index: 9999;
    }

    .mobile-nav-active .navmenu {
        position: fixed;
        overflow: hidden;
        inset: 0;
        background: rgba(33, 37, 41, 0.8);
        transition: 0.3s;
    }

    .mobile-nav-active .navmenu > ul {
        display: block;
    }

    .navmenu-li-none {
        display: block;
    }
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/

.footer {
    background-color: var(--background-color);
    color: var(--default-color);
    padding: 60px 0;
    font-size: 14px;
    border-top: 1px solid color-mix(in srgb, var(--default-color), transparent 80%);
}

.footer a,
.footer h3 {
    color: #a5a5a5 !important;
}

.footer a:hover {
    color: var(--accent-color);
}
.footer p {
    margin-bottom: 10px;
}

.footer .copyright {
    margin-top: 50px;
    position: relative;
    color: #a5a5a5;
    padding-top: 20px;
    border-top: 1px solid color-mix(in srgb, var(--default-color), transparent 80%);
}

.footer .copyright p,
.footer .copyright .credits {
    margin: 2px 0;
}

.footer .btn-learn-more {
    background-color: var(--accent-color);
    border-radius: 30px;
    padding: 8px 30px;
    border: 2px solid transparent;
    transition: 0.3s all ease-in-out;
    font-size: 14px;
    color: var(--contrast-color) !important;
}

.footer .btn-learn-more:hover {
    border-color: var(--accent-color);
    background-color: transparent;
    color: var(--accent-color) !important;
}

.footer .widget .widget-heading {
    font-size: 18px;
    color: #a5a5a5;
    margin-bottom: 20px;
}

.footer .widget ul li {
    margin-bottom: 10px;
    line-height: 1.5;
    font-size: 18px;
    color: #a5a5a5;
    margin-right: 10px;
}

.footer .widget ul li a {
    color: color-mix(in srgb, var(--heading-color), transparent 50%);
}

.footer .widget ul li a:hover {
    text-decoration: none;
    color: var(--heading-color);
}

.footer .widget .footer-blog-entry .date {
    color: color-mix(in srgb, var(--default-color), transparent 50%);
    font-size: 16px;
}

.footer .social-icons li {
    display: inline-block;
}

.footer .social-icons li a {
    display: inline-block;
    width: 40px;
    height: 40px;
    position: relative;
    border-radius: 50%;
    background: color-mix(in srgb, var(--default-color), transparent 90%);
}

.footer .social-icons li a span {
    color: color-mix(in srgb, var(--heading-color), transparent 0%);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 0.3s all ease-in-out;
}

.footer .social-icons li a:hover {
    background: var(--accent-color);
}

.footer .social-icons li a:hover span {
    color: var(--contrast-color);
}

.footer .social-icons li:first-child a {
    padding-left: 0;
}

.footer .footer-subscribe form {
    position: relative;
}

.footer .footer-subscribe .form-control {
    font-size: 14px;
    height: 42px;
    border: 2px solid color-mix(in srgb, var(--default-color), transparent 40%);
    background: none;
    color: var(--heading-color);
    padding-right: 40px;
}

.footer .footer-subscribe .form-control:focus {
    border-color: color-mix(in srgb, var(--default-color), transparent 10%);
    box-shadow: none;
}

.footer .footer-subscribe .form-control::placeholder {
    color: color-mix(in srgb, var(--heading-color), transparent 60%);
}

.footer .footer-subscribe .btn-link {
    padding: 0;
    margin: 0;
    font-size: 1.5rem;
    background-color: none;
    border-color: none;
    position: absolute;
    line-height: 0;
    color: color-mix(in srgb, var(--heading-color), transparent 20%);
    top: 20px;
    right: 10px;
    transform: translateY(-50%) rotate(0deg);
}

.footer .footer-subscribe .btn-link:hover,
.footer .footer-subscribe .btn-link:focus,
.footer .footer-subscribe .btn-link:active {
    text-decoration: none;
}

/*--------------------------------------------------------------
# Scroll Top Button
--------------------------------------------------------------*/
.scroll-top {
    position: fixed;
    visibility: hidden;
    opacity: 0;
    right: 15px;
    bottom: 15px;
    z-index: 99999;
    background-color: var(--accent-color);
    width: 40px;
    height: 40px;
    border-radius: 4px;
    transition: all 0.4s;
}

.scroll-top i {
    font-size: 24px;
    color: var(--contrast-color);
    line-height: 0;
}

.scroll-top:hover {
    background-color: color-mix(in srgb, var(--accent-color), transparent 20%);
    color: var(--contrast-color);
}

.scroll-top.active {
    visibility: visible;
    opacity: 1;
}



/*--------------------------------------------------------------
# btn
--------------------------------------------------------------*/

.btn_primary {
	width: auto;
    display: inline-block;
    background-color: #06A786;
	text-align: center;
	font-weight: 500;
	padding: 0 20px;
    margin: 0 5px;
    border: 2px solid #06A786;
    color: #fff;
	border-radius: 50px;
	line-height: 40px;
}
.btn_primary.btn_add {
	color: #fff;
	background-color: #FFCF54 !important;
    border: 2px solid #FFCF54 !important;
}
.btn_primary.btn_cancle {
    color: #fff;
    background-color: #a5a5a5;
    border: 2px solid #a5a5a5;    
}
.btn_primary.btn_delete {
    color: #fff;
    background-color: #F14D29;
    border: 2px solid #F14D29;  
}
.list_btn {
	float: right;
	width: auto;
	height: 45px;
	color: #fff;
	background-color: #FFCF54;
	text-align: center;
	font-weight: 500;
	padding: 0 20px;
    border: 2px solid #FFCF54;
	border-radius: 50px;
	line-height: 40px;
	margin-left: 10px;
    cursor: pointer;
}


/*--------------------------------------------------------------
# Disable aos animation delay on mobile devices
--------------------------------------------------------------*/
/*
@media screen and (max-width: 768px) {
    [data-aos-delay] {
        transition-delay: 0 !important;
    }
}
*/

/*--------------------------------------------------------------
# Sections
--------------------------------------------------------------*/

section,
.section {
    color: var(--default-color);
    background-color: var(--background-color);
    padding: 60px 0;
    scroll-margin-top: 100px;
    overflow: clip;
}

@media (max-width: 1199px) {
    section,
    .section {
        scroll-margin-top: 66px;
    }
}

/*--------------------------------------------------------------
# sub common 
--------------------------------------------------------------*/
.sub_title {
	font-size: 32px;
	font-weight: 500;
	margin-bottom: 60px;
}


/*--------------------------------------------------------------
margin / padding / width
--------------------------------------------------------------*/
.mt_30 {
    margin-top: 30px;
}
.mg_auto {
    margin: 30px auto 0 !important;
}
.w_100 {
    width: 100%;
}


/*--------------------------------------------------------------
# Main page - 767px
--------------------------------------------------------------*/
@media (max-width: 767px) {
	
	#footer img {
		margin-bottom: 30px;
	}
}

/*--------------------------------------------------------------
# Main page - 575px
-----------------------------------------------------------*/
@media (max-width: 575px) {
		
	.navmenu ul {
		/* width: 360px;
   		max-width: 100%; */
  		/* height: 260px;         */
		inset: 60px 20px 20px 15px;
	}
	.navmenu .dropdown ul {
    	margin: 0;
    }
	#header img {
		width: 80px;
	}
    .container {
       max-width: 100%;
    }
    .sub_title {
    	font-size: 26px;
    }
    
    .footer {
   	    padding: 40px 0;
    }
    .footer .widget .widget-heading,
    .footer p {
    	font-size: 14px;
    }
    .footer .widget ul li {
    	margin-bottom: 0;
    }
    
    #footer img {
    	width: 100px;
    }
    
    .footer .copyright {
    	margin-top: 10px;
    }
    
    .btn_primary.btn_cancle,
    .btn_primary.btn_add {
    	font-size: 16px;        
    }
    
    .footer .widget .footer-blog-entry .date {
    	font-size: 14px;
    }
}